<%- include('partials/header'); %>

<section class="page-text">
    <ul class="flex-column flex-space no-deco margin-b">
        <li><a href="/administrativo/agregarAmbientes" class="page-button no-deco center-text">&#43 Agregar Ambiente</a></li>
        <li><a href="/administrativo/agregarAmbientesLotes" class="page-button no-deco center-text">&#43 Agregar Ambientes por lotes</a></li>
        <!-- <li><a href="/administrativo/buscarAulas" class="page-button no-deco ">Buscar Aulas</a></li> -->
    </ul>
</section>
<div class="scroll-box">
    <table class="page-text" id="data-table">
        <tr>
            <th class="ex-col">id</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th class="ex-col">Ubicacion</th>
            <th>cap.</th>
            <th class="ex-col">desc.</th>
            <th class="ex-col">Deshab?</th>
            <th class="ex-col">Activo</th>
            <th>Editar</th>
        </tr>
        <% rows.forEach(function (amb) {%>
            <tr class="row-data">
                <td class="ex-col"> <%= amb.id_ambiente %> </td>
                <td> <%= amb.nombre %> </td>
                <td> <%= amb.id_tipo %> </td>
                <td class="ex-col"> <%= amb.ubicacion %> </td>
                <td> <%= amb.capacidad %> </td>
                <td class="ex-col"> <%= amb.descripcion %> </td>
                <td class="ex-col"> <%= amb.deshabilitado %> </td>
                <td class="ex-col"> <%= amb.activo %> </td>
                <td> <div id="edit-button" ><a href="/administrativo/editarAmbiente/<%= amb.id_ambiente %>" class="icons" style="--posX:-4"></a></div> </td>
            </tr>
        <% } ) %>
    </table>
</div>


<%- include('partials/footer'); %>