<%- include('partials/header'); %>

<section class="page-text flex-column align-center">
    <div class="box-fx w100 box-wide">
        <h3 class="center-text margin-b">Ambientes</h3>
        <ul class="flex-column flex-gap no-deco margin-b">
            <li><button class="page-button no-deco center-text admin-button" data-type="add">&#43 Agregar</button></li>
            <!-- <li><a href="/administrativo/agregarAmbientesLotes" class="page-button no-deco center-text">&#43 Agregar Ambientes por lotes</a></li> -->
            <!-- <li><a href="/administrativo/buscarAulas" class="page-button no-deco ">Buscar Aulas</a></li> -->
        </ul>
        <%- include('partials/pageControl'); %>
        <div class="scroll-box">
            <table  id="admin-ambient-table" class="data-table">
                <tr>
                    <th>Nombre</th>
                    <th>Tipo</th>
                    <th class="ex-col">Ubicacion</th>
                    <th>capac.</th>
                    <th class="ex-col">desc.</th>
                    <th>Editar</th>
                </tr>
                <% data.forEach(function (amb) {%>
                    <tr>
                        <td> <%= amb.nombre %> </td>
                        <td> <%= amb.tipo %> </td>
                        <td class="ex-col"> <%= amb.ubicacion %> </td>
                        <td> <%= amb.capacidad %> </td>
                        <td class="ex-col"> <%= amb.descripcion %> </td>
                        <td> 
                            <div class="edit-buttons">
                                <button class="edit-button icons admin-button" style="--posX:-4" data="<%= amb.nombre %>" data-type="edit"></button>
                                <button class="edit-button icons admin-button" style="--posX:-5" data="<%= amb.nombre %>" data-type="delete"></button>
                            </div>
                        </td>
                    </tr>
                <% } ) %>
            </table>
        </div>
    </div>
</section>

<div id="add-edit-ambient-modal" class="box-fx custom-modal hide">
    <div class="custom-modal-header">
        <h3 class="custom-modal-title"></h3>
        <div class="custom-modal-btn modal-action-button" data-action="close-modal">&#x2A09</div>
    </div>

    <div class="custom-modal-content">
        <form action="" method="" enctype="multipart/form-data" class="form-width flex-column flex-gap">
            <div class="innerFlex flex-gap justify-center">
                <div class="col-2">
                    <p >Nombre:</p>
                    <input type="text" name="nombre" class="input-field" pattern="^[a-zA-Z0-9]+(?: [a-zA-Z0-9]+)*$"
                    autocomplete="off" maxlength="32" required>
                </div>
        
                <div class="flex-row flex-gap col-2">
                    <div class="even-w-2">
                        <p >Tipo:</p>
                        <select name="tipo" class="input-field" required>                        
                            <option  value="" selected disabled hidden>Selección</option>
                        </select>
                    </div>
        
                    <div class="even-w-2">
                        <p >Capacidad:</p>
                        <input type="number" name="capacidad" min="1" max="500" class="input-field" required>
                    </div>
                </div>            
            </div>
    
            <div>
                <p >Ubicación:</p>
                <input type="text" name="ubicacion" class="input-field" required>
            </div>
    
            <div>
                <p >Facilidades:</p>
                <fieldset class="flex-row flex-gap flex-wrap"></fieldset>
            </div>
    
            <div>
                <p >Descripción:</p>
                <textarea name="descripcion" class="input-field text-area-height" placeholder="(Opcional)"></textarea>
            </div>
            
            <input class="page-button" type="submit" value=""> 
        </form>
    </div>
</div>

<div id="delete-ambient-modal" class="box-fx custom-modal hide">
    <div class="custom-modal-header">
        <h3 class="custom-modal-title">Deshabilitar Ambiente?</h3>
        <div class="custom-modal-btn modal-action-button" data-action="close-modal">&#x2A09</div>
    </div>

    <div class="custom-modal-content ">
        <p class="margin-b">Nombre: <span class="nombre-ambiente"></span></p>
        <form action="" method="" enctype="multipart/form-data" class="form-width flex-column">
            <input type="hidden" name="nombre" value="">
            <input class="page-button" type="submit" value="Aceptar">
        </form>
    </div>
</div>

<script>
    let selected_ambient_data = {};
    window.addEventListener('load', async () =>{
        fill_admin_form_selectables();
        set_admin_modal_event();
    });
</script>

<%- include('partials/footer'); %>