<%- include('partials/header'); %>

<section class="flex-column align-center page-text">
    <div class="box-fx form-width flex-column">
        <h3 class="center-text margin-b">Ver Ambientes disponibles</h3>
        <form action="/buscarAmbientes" method="POST" class="innerFlex" id="ver-ambientes">
            <div class="innerFlex margin-b margin-r">
                <p>Fecha: </p>
                <input type="date" name="fecha" class="input-field" required>
            </div>
            <div class="innerFlex margin-b margin-r">
                <p>Periodo: </p>
                <select name="horario" class="input-field" required>
                    <option  value="" selected disabled hidden>Seleccion</option>
                    <% periodos.forEach(function (p) { %>
                        <option  value="<%= p.id_periodo %>"><%= p.hora_ini %> - <%= p.hora_fin %></option>
                    <% } ) %>
                </select>
            </div>
            <input class="page-button margin-t" type="submit" value="Consulta"> 
        </form>
        <div id="resultados-consulta" class="form-width margin-t scroll-box"></div>
    </div>
</section>

<%- include('partials/footer'); %>