<%- include('partials/header'); %>

<section class="flex-column align-center page-text">
    <div class="box-fx">
        <h3 class="center-text margin-b">Reserva de Aula</h3>
        <form action="/academico/reservarAmbiente" method="POST" class="flex-column form-width" id="reserva-ambiente">
            <div class="innerFlex">
                <div class="margin-b margin-r">
                    <p>Fecha:</p>
                    <input type="date" name="fecha" class="input-field" required>
                </div>
    
                <div class="margin-b margin-r">
                    <p>Ambientes:</p>
                    <select name="nombre" class="input-field" required>                        
                        <option  value="" selected disabled hidden>Seleccion</option>
                        <% ambientes.forEach(function (a) { %>
                            <option  value="<%= a.nombre %>"><%= a.nombre %></option>
                        <% } ) %>
                    </select>
                </div>
                        
                <div class="margin-b margin-r">
                    <p>Horario:</p>
                    <select name="horario" class="input-field" required>                        
                        <option  value="" selected disabled hidden>Seleccion</option>

                        <% horarios.forEach(function (p) { %>
                            <option  value="<%= p.id_periodo %>"><%= p.hora_ini %> - <%= p.hora_fin %></option>
                        <% } ) %>
                    </select>
                </div>
        
                <!-- <div class="margin-b margin-r">
                    <p>Cantidad de periodos:</p>
                    <select name="Periodo" class="input-field" required>                        
                        <option  value="" selected disabled hidden>Seleccion</option>
                        <option  value="hora1">1</option>
                        <option  value="691B">2</option>
                        <option  value="691C">3</option>
                        <option  value="691D">4</option>
                    </select>
                </div> -->

            </div>
                  
            <div>
                <p>Comentarios:</p>
                <textarea rows="8" name="comentario" class="input-field"> </textarea>
            </div>        
                    
            <input type="submit" name="" id="" value="Reservar" class="page-button margin-t">
        </form>
    </div>
</section>

<%- include('partials/footer'); %>